.rodateto{
    background-color: rgb(219, 136, 27);
    color: aliceblue;
    height: 100px;
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 10px;
    
}

.blo{
    
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;

    background-color: rgb(219, 136, 27);
 
}
.blo2{
    

    width: 1200px;

    border-radius: 20px;
    justify-content: center;
    align-content: center;
    margin: 20px;

    background-color: rgb(179, 21, 21);
 
}

.quadrado{

    padding: 40px;
    margin: 10px;
    background-color: rgb(223, 79, 79);
}

.blo3{
    align-items: center;
    justify-content: center;
    background-color: black;
}