.rodateto{
    background-color: rgb(219, 136, 27);
    color: aliceblue;
    height: 100px;
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 10px;
    
}

.blo{
    padding: 60;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(219, 136, 27);
    margin-top: 50;
    margin-left: 600;
    margin-right: 70;
}
