.rodateto{
    background-color: rgb(25, 231, 118);
    color: aliceblue;
    height: 100px;
    justify-content: space-between;
    align-content: center;
    display: flex;
    padding: 10px;
    
}

.blo{
    
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    border-radius: 100px;
    background-color: rgb(51, 255, 0);
 
}
.blo2{
    

    width: 1200px;

    border-radius: 20px;
    justify-content: center;
    align-content: center;
    margin: 20px;

    background-color: rgb(0, 0, 0);
 
}

.quadrado{

    padding: 40px;
    margin: 10px;
    background-color: rgb(223, 79, 79);
}

.blo3{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-image: url("assets/1.jpg");
}

.relogio{
    width: 100px;
    height: 100px;

}

.verde{
    color: rgb(25, 231, 118);
}

